.add-task-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.add-task-container input {
  line-height: 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid #1A1A1A;
  background: rgba(230, 230, 230, 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: #E3E3E3;
  transition: border-bottom 100ms;
  width: -webkit-fill-available;
}

.add-task-container input:hover,
.add-task-container input:focus {
  background: rgba(180, 180, 180, 0.2);
  border-radius: 0.2em;
  padding: 0.4em;
  color: #E3E3E3;
}
